
body{
    background-color: #EAF6F6;
    margin: 15px;
}

hr {


border-style: none;
border-top-style: dotted;
border-color: rgb(217, 215, 215);
border-width: 5px;
width: 5%;

}

img {
    height: 150px;
    border-radius: 50%;

}

#zap{
 
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

h1 {
    color: #047b7b;
}

h2 {
    color: #469a9a;
}
